<div class="body">
  <h1 class="roboto-regular">Emergencias reportadas</h1>
  <section>
    <app-emergency-card-reported  json="{{ {data: 'hola', data2: 'hola'} }}
    }}"/>
  </section>

  <h1 class="roboto-regular">Emergencias asignadas </h1>
  <section></section>

  <h1 class="roboto-regular">APHs en servicio</h1>
  <section></section>

  <h1 class="roboto-regular">Brigadistas disponibles</h1>
  <section></section>

  <h1 class="roboto-regular">Historial de emergencias</h1>
  <section></section>
</div>
