<div class="body">
  <h1 class="roboto-regular">Emergencias reportadas</h1>
  <section id="content-1">
    <app-emergency-card-reported />
  </section>

  <h1 class="roboto-regular">Aphs que necesitan ayuda</h1>
  <section id="content-2">
    <app-table-aphs-help />
  </section>

<!--  <h1 class="roboto-regular">Emergencias asignadas</h1>
  <section>
    <app-table-assigned-emergencies />
  </section>

  <h1 class="roboto-regular">APHs en servicio</h1>
  <section>
    <app-table-aphs-service />
  </section>

  <h1 class="roboto-regular">Brigadistas disponibles</h1>
  <section>
    <app-table-available-brigade-members />
  </section>-->
</div>
