<div class="body">
  <h1 class="roboto-regular">Crear un nuevo usuario</h1>
  <div class="buttons_header">
    <app-filled-button texto="Crear APH" />
    <app-filled-button texto="Crear Brigadista" />
    <app-filled-button texto="Crear usuario de Comunidad UPB" />
  </div>

  <h1 class="roboto-regular">APH</h1>
  <section>
    <app-table-aph />
  </section>

  <h1 class="roboto-regular">Brigadistas</h1>
  <section>
    <app-table-brigadiers />
  </section>

  <h1 class="roboto-regular">Comunidad UPB</h1>
  <section>
    <app-table-upb-community />
  </section>
</div>
